.section{
    margin-top:50px;
}
  .logo {
    width: 150px;
   
  }
  .responsive {
    width: 50%;
    height: auto;
  }

  h1.text-center.b-5 {
     font-weight: 700;
  }
  h1.b-5 {
    font-weight: 700;
 }

 button.btn.btn-primary {
  
  background-color: #198cef;
  color:white;
  font-size: larger;
  font-weight: bolder;
}

.my-button:hover {
  transform: scale(1.2);
  cursor: pointer;

}

a.btn.btn-primary {


  background-color: #198cef;
  color:white;
  font-size: larger;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .mobile-logo{
    margin-top: 35px;
  }
  .section{
    margin-top:15px !important;
}
}
